    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/Overview' | relative_url }}">Overview</a></li>
    <li><a href="{{ 'Setup-Configuration' | relative_url }}">Setup and Configuration</a></li>
    <li><a href="{{ 'MaintenancePlans' | relative_url }}">Maintenance Plans</a></li>
    <li><a href="{{ 'MaintenanceOrders' | relative_url }}">Maintenance Orders</a></li>
    <li><a href="{{ 'Transfers' | relative_url }}">Asset Transfers</a></li>    
    <li><a href="{{ '/Resources/WhatsNew' | relative_url }}">Release Notes</a></li>
